.SectionOne{
    background-image: url(../assets/images/bgDesk.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}
.SectionTwo{
    width: 75%;
    margin: 0 auto;
}
.SectionTree{
    width: 75%;
    margin: 0 auto;
}
.containerItem{ 
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.containerItem button{
    padding: 1.2rem 2rem;
    border-radius: 15px;
}

.img{
    width: 50%;
}

.Benefies{
    display: flex;
    gap: 5rem;
}
.ContainerBenefies{
    text-align: center;
    align-items: center;
}
.textNumber{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
}

.Benefits{
    display: flex;
    flex-direction: column;
}

.Comments{
    background-image: url(../assets/images/commentDesk.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
    text-align: start;
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    position: absolute;
    top: 30%;
    left: 32%;
}

.Comments button {
    padding: 1rem 2rem;
}

.avatar{
    width: 40%;
}

@media (max-width: 769px) {
    .SectionOne{
        background-image: url(../assets/images/bgTablet.png);
        height: 105vh;
    }
    .SectionTwo{
        width: 80%;
    }
    .SectionTree{
        width: 85%;
    }
    .containerItem h2{
        width: 85%;
    }
    .Benefies{
        flex-direction: column;
    }
    .ContainerBenefies{
        display: flex;
        gap: 2rem;
    }
    .textNumber {
        text-align: start;
    }
    .img{
        margin-top: 2.5rem;
        width: 65%;
    }
    .avatar{
        width: 50%;
    }
    .Comments{
        top: 45%;
        left: 30%;
        padding: 2rem;
    }
    .Comments button{
        margin-bottom: 3rem;
    }
}

@media (max-width: 445px) {
    .SectionOne{
        background-image: url(../assets/images/bgMobile.png);
        height: 85vh;
    }
    .SectionTwo{
        width: 90%;
    }
    .SectionTree{
        width: 90%;
    }
    .ContainerBenefies{
        flex-direction: column;
    }
    .textNumber{
        text-align: center;
        margin-top: 1rem;
    }
    .containerItem h2{
        width: 100%;
        font-size: 45px;
    }
    .img{
        margin-top: 3rem;
        width: 80%;
    }
    .avatar{
        width: 100%;
    }
    .Comments{
        top: 65%;
        left: 0;
        padding: 1.5rem .5rem;
        text-align: center;
        align-items: center;
    }
    .Comments button{
        margin-bottom: 2.5rem;
    }
}